<div class="modal fade" id="modalSocio" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content rounded-4">

            <div class="modal-header" style="background-color: var(--cc-verde); color:white;">
                <h5 class="modal-title fw-bold">Registrar ingreso de socio</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <div class="row">

                    <div class="col-md-8">

                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label class="form-label">Buscar</label>
                                <input id="txtBuscar"
                                       type="text"
                                       class="form-control"
                                       placeholder="Ingrese criterio"
                                       onkeyup="buscarSocio()">
                            </div>
                        </div>

                        <div class="table-responsive border rounded">
                            <table class="table table-hover text-center">
                                <thead class="table-light">
                                    <tr>
                                        <th>Carnet</th>
                                        <th>Nombre</th>
                                        <th>ID</th>
                                    </tr>
                                </thead>
                                <tbody id="tablaSocios">
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="col-md-4 text-center border-start">
                        <img id="fotoSocio"
                             src="~/assets/images/avatar-default.png"
                             class="img-fluid rounded shadow"
                             style="max-height:260px;">
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>

<script>
    function buscarSocio() {

        var criterio = $("#txtBuscar").val();

        $.get("/Socios/Buscar", { criterio: criterio }, function (data) {
            $("#tablaSocios").html(data);
        });
    }
</script>
<script>
    $('#modalSocio').on('shown.bs.modal', function () {
        buscarSocio();   // modal açılır açılmaz listeyi getir
    });
</script>